.content-wrapper{
    background-color:white;
}
.content{
    padding:2rem;
}
.align{
    margin-bottom:1rem;
}
.update-btn{
    color: white;
    background-color: rgb(245, 97, 97);
    padding: 1rem;
    width: 25rem;
    border-radius: 5px;
    font-family: 'Itim', cursive;
    font-size:large;
}