.content-wrapper{
    background-color:white;

}
.content{
    padding:1rem;
}
.align-item{
    margin-bottom:1rem;
}
.update-btn{
    color: white;
    background-color: rgb(245, 97, 97);
    padding: 1rem;
    width: 20rem;
    border-radius: 5px;
    font-family: 'Itim', cursive;
    font-size:large;
}
.update-btn:hover{
    color: rgb(245, 97, 97);
    background-color: rgb(255,177,177);
}
.input-label{
    color: rgb(245, 97, 97);
    font-family: 'Itim', cursive;
    font-size:large;
}
    