<!DOCTYPE>
<html>

<head>
    <title>Restaurant Menu</title>

    <link rel=stylesheet type=text/css href="{{url_for('static',filename='create_restaurant.css')}}">
</head>

<body>
    {% extends "main.html" %}
    {% block content %}
    <header>
        {% include "header.html" %}
    </header>
    <main>
        <div class="content-wrapper">
            <div class="content">
                <form class="form-horizontal" action="{{url_for('AddRestaurant')}}" method='post'>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Restaurant Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" type='text' class="align-item" name="restaurant_name">
                        </div>
                    </div>
                    <button type="submit" class="create-btn">Create</button>
                </form>
            </div>
        </div>
    </main>
    {% endblock%}
</body>

</html>