<!DOCTYPE>
<html>


<head>
    <link rel=stylesheet type=text/css href="{{url_for('static',filename='menuItem.css')}}">
</head>

<body>
    {% extends "main.html" %}
    {% block content %}
    <header>
        {% include "header.html" %}
    </header>
    <div class="content-wrapper">
        <main>
            <div class="content">
                <h2 class="heading-font">{{ restaurant.name }}</h2>
                <section>
                    <div class="col-wide">
                        <div class="appetizers">
                            <h3>Appetizers</h3>
                            {% for i in menuItems %}
                            {% if i.course == 'Appetizer' %}
                            <div class="menu-content">
                                <p class="name">{{i.name}}</p>
                                <p><i>{{i.description}}</i></p>
                                <p>{{i.price}}</p>
                                <br>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="entre">
                            <h3>Entree</h3>
                            {% for i in menuItems %}
                            {% if i.course == 'Entree' %}
                            <div class="menu-content">
                                <p class="name">{{i.name}}</p>
                                <p><i>{{i.description}}</i></p>
                                <p>{{i.price}}</p>
                                <br>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="dessert">
                            <h3>Dessert</h3>
                            {% for i in menuItems %}
                            {% if i.course == 'Dessert' %}
                            <div class="menu-content">
                                <p class="name">{{i.name}}</p>
                                <p><i>{{i.description}}</i></p>
                                <p>{{i.price}}</p>
                                <br>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </section>
                <aside>
                    <div class="col-narrow">
                        <div class="beverage">
                            <h3>Beverage</h3>
                            {% for i in menuItems %}
                            {% if i.course == 'Beverage' %}
                            <div class="menu-content">
                                <p class="name">{{i.name}}</p>
                                <p><i>{{i.description}}</i></p>
                                <p>{{i.price}}</p>
                                <br>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </aside>
            </div>

        </main>
    </div>
    {% endblock%}
</body>

</html>